<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/master.css">
  </head>
  <body>
    <div class="container-fluid header text-center">
      <h1>fireside coding</h1>
    </div>
    <p>some stuff</p>
  </body>
</html>
