
body {
    background: #EC9967;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, #EC9967, #EC9967);
    background: -moz-linear-gradient(left, #EC9967, #EC9967);
    background: -o-linear-gradient(left, #EC9967, #EC9967);
    background: linear-gradient(to right, #EC9967, #EC9967); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #6A4F4d;
}
.header {
  background-color: #9C6151;
  color: #F7E2AC;
  padding: 30px;
}
