
body {
    background: #DA4453;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(left, #89216B, #DA4453);
    background: -moz-linear-gradient(left, #89216B, #DA4453);
    background: -o-linear-gradient(left, #89216B, #DA4453);
    background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    */
}
