
body {
    background: #EC9967;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, #EC9967, #EC9967);
    background: -moz-linear-gradient(left, #EC9967, #EC9967);
    background: -o-linear-gradient(left, #EC9967, #EC9967);
    background: linear-gradient(to right, #EC9967, #EC9967); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.page {
  margin: 0;
}
.header {
  font-family: 'Courgette', serif;
  /*background-color: #9C6151;
  color: #F7E2AC;*/
  color: #9C6151;
  padding-top: 15px;
  padding-bottom: 15px;
}
.content {
  padding: 0;
  margin: 0;
  color: #6A4F4d;
  font-family: 'Courier Prime', monospace;
  font-size: 30px;
}
hr.header-divider {
  border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.header-divider:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}
.d-flex {
  flex:1;
}
